{% extends 'myapp/base.html' %}

{% block menubar %}
<a class="nav-link fw-bold py-1 px-0" aria-current="page" href="{% url 'home' %}">หน้าแรก</a>
<a class="nav-link fw-bold py-1 px-0" href="#">สินค้า</a>
<a class="nav-link fw-bold py-1 px-0" href="{% url 'tracking' %}">tracking</a>
<a class="nav-link fw-bold py-1 px-0 active" href="{% url 'about-us' %}">เกี่ยวกับเรา</a>
<a class="nav-link fw-bold py-1 px-0" href="{% url 'contact' %}">ติดต่อเรา</a>
<a class="nav-link fw-bold py-1 px-0" href="{% url 'ask' %}">สอบถาม</a>
{% endblock menubar %}
{% block content %}
  <h1>เว็บแบงค์ให้บริการอะไร</h1>
  <p class="lead">มีไว้เพื่อขายของ สนุกๆ</p>
  <center><img src="https://i.etsystatic.com/54544746/r/il/39a0c1/6672243141/il_794xN.6672243141_dw2l.jpg" width="400px" alt=""></center>
{% endblock content %}
